{% extends 'base.html' %}
{% block content %}

    <div class="mt-2">
        <h1 class="d-inline">블로그 목록</h1>

        {# 블로그 글 생성 버튼 #}
        <a href="{% url 'blog:create' %}" class="float-end btn btn-sm btn-primary">글쓰기</a>
        {# 블로그 글 생성 버튼_end #}
    </div>

    <hr>

    {# 블로그 글 목록 #}
    {% for blog in object_list %}
        <div class="my-1">
            <a href="{% url 'blog:detail' blog.pk %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover row"></a>
                {# 방법1 + models.py get_thumbnail_image_url 함수 생성 #}
                {% if blog.get_thumbnail_image_url %}
                    <img src="{{ blog.get_thumbnail_image_url }}" alt="" class="col-2">
                {% endif %}


                {# 방법2 #}
{#                {% if blog.thumbnail %}#}
{#                    <img src="{{ blog.thumbnail.url }}" alt="" class="col-2">#}
{#                {% elif blog.image %}#}
{#                    <img src="{{ blog.image.url }}" alt="" class="col-2">#}
{#                {% endif %}#}
            <span class="col-10">({{ blog.id }})
                [{{ blog.get_category_display }}] {{ blog.title }}</span>
                </a>
{#            <a> - <span>({{ blog.author.username }})</span> <small> 생성일#}
{#                : {{ blog.created_at | date:"Y-m-d" }}</small></a>#}
        </div>
    {% endfor %}
    {# 블로그 글 목록_end #}

    {# 블로그 글 검색 #}
    <form method="get" class="my-3 d-flex">
        <input class="form-control-sm" name="q" type="text" placeholder="검색어를 입력하세요."
               value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
        <button class="btn btn-sm btn-info ms-2">검색</button>
    </form>
    {# 블로그 글 검색_end #}

    {# 페이지네이션 코드 #}
    {% include 'pagination.html' %}
    {# 페이지네이션 코드_end #}
{% endblock %}