{% extends 'base.html' %}
{% block content %}
    <div class="mt-2 d-flex justify-content-between">
        <h1>'{{ blog.title }}' 페이지 입니다. </h1>

        {% if request.user == blog.author or request.user.is_staff %} {# 혹은 request.user.is_superuser 로 해도 됨 #}
            <div>
                <a class="btn btn-sm btn-warning" href="{% url 'blog:update' blog.pk %}">수정</a>

                {# <a href="{% url 'blog_delete' blog.pk %}">삭제</a> #}
                {# 위 라인보다는 아래걸로 #}
                <form id="delete_form" action="{% url 'blog:delete' blog.pk %}" method="POST" style="display: inline">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-danger" type="button" id="delete_btn">삭제</button>
                </form>
            </div>
        {% endif %}
    </div>

    <div style="text-align: right">
        <p> 카테고리 : {{ blog.category }} {{ test }}</p>
        <p> 작성자 : {{ blog.author.username }}, 생성일 : {{ blog.created_at }} </p>
    </div>
    <hr>
    <p>{{ blog.content }}</p>
    <br>
    <br>
    <p><small> 마지막 수정일 : {{ blog.updated_at }} </small></p>
    <hr>
    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'blog:comment_create' blog.pk %}">
        {% csrf_token %}
            {{ comment_form.as_p }}
            <div class="text-end">
                <button class="btn btn-primary">작성</button>
            </div>
        </form>
    {% endif %}

    <div class="mb-2" id="comment_wrapper">
        {% for comment in object_list %} {# db소문자명 + _set #}
            <div class="border-bottom">
                {{ comment.content }}
            <p class="text-end">
                <small>{{ comment.created_at | date:'Y-m-d H:i' }} | {{ comment.author.username }}</small>
            </p>
            </div>
        {% endfor %}
    </div>

    {# 페이지네이션 코드 #}
    {% include 'pagination.html' with fragment='comment_wrapper' %}
    {# 페이지네이션 코드_end #}

    <a class="btn btn-sm btn-info" href="{% url 'blog:list' %}">목록</a>
{% endblock %}

{% block js %}
    <script>
        document.querySelector('#delete_btn').addEventListener('click', function () {
            if (confirm('삭제 하시겠습니까?')) {
                document.querySelector('#delete_form').submit()
            }
        })
    </script>
{% endblock %}