{% extends 'base.html' %}
{% block content %}
    <h1>'{{ blog.title }}' 페이지 입니다. </h1>

    {% if request.user == blog.author or request.user.is_staff %} {# 혹은 request.user.is_superuser 로 해도 됨 #}
        <div style="text-align: right">
            <a href="{% url 'blog:update' blog.pk %}">수정</a>

            {# <a href="{% url 'blog_delete' blog.pk %}">삭제</a> #}
            {# 위 라인보다는 아래걸로 #}
            <form id="delete_form" action="{% url 'blog:delete' blog.pk %}" method="POST" style="display: inline">
                {% csrf_token %}
                <button type="button" id="delete_btn">삭제</button>
            </form>
        </div>
    {% endif %}

    <div style="text-align: right">
        <p> 카테고리 : {{ blog.category }} {{ test }}</p>
        <p> 작성자 : {{ blog.author.username }}, 생성일 : {{ blog.created_at }} </p>
    </div>
    <hr>
    <p>{{ blog.content }}</p>
    <br>
    <br>
    <p><small> 마지막 수정일 : {{ blog.updated_at }} </small></p>
    <hr>
    <a href="{% url 'blog:list' %}">목록으로 돌아가기</a>
{% endblock %}

{% block js %}
    <script>
        document.querySelector('#delete_btn').addEventListener('click', function () {
            if (confirm('삭제 하시겠습니까?')) {
                document.querySelector('#delete_form').submit()
            }
        })
    </script>
{% endblock %}